.c-blue{
    color: #0877e0;
}

.c-orange{
    color:#f7881f 
}
/* Navbar */

nav {
    width: 100%;
    box-shadow: none !important;
    background-color: #0877e0;
}

.navbar-toggler {
    height: 50px;
    width: 50px;
}

.navbar-toggler span{
    height: 24px;
    width: 25px;
}

nav img{
    height: 100px;
}

nav h3{
    margin-left: 20px;
}

.m-top{
    margin-top: 20px;
}

.nav-link-text {
    font-size: 17px;
    color: #fff ;
    font-weight: 700;
    text-align: center;
    padding: 0 2rem;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

.nav-link-text:hover {
    text-decoration: none;
    color: #f7881f;

}

/* Navbar Mediaquery */

/* @media screen and (max-width: 575px) {

}
 */
@media screen and (max-width: 575px) {
    nav div:first-of-type {
        width: 100%;
    }

    .nav-link-text {
        padding: 0;
    }

/*     header{
        padding: 0 15px;
    }
 */}

@media screen and (min-width: 900px) and (max-width: 1188px) {
    .nav-link-text {
        padding: 0 1rem;
    }
}
@media screen and (min-width: 800px) and (max-width: 899px) {
    .nav-link-text {
        padding: 0 0.5rem;
    }
}

@media screen and (min-width: 721px) and (max-width: 799px) {
    .nav-link-text {
        padding: 0 0.3rem;
    }
}

/* /Navbar Mediaquery */

/* /Navbar */


/* Jumbotron */

.jumbotron-mod{
    margin-top: 25px;
}

.logo-jumbotron{
    padding-top: 5vh;
}

.logo-jumbotron p{
    font-size: 14px;
    margin-top: 5vh;
    font-weight: 500;
}

.studio{
    height: 500px;
    padding: 0 !important;
}

.studio > div{
    background-image: url('../img/sfondo.jpg');
    height: 100%;
    background-size: cover;
}

/* /Jumbotron */


/* About us */

.about-us{
    margin-top: 70px;
}

.info{
    padding: 20px 0;
}

.about-social{
    background-color: #f7881f;
    color: #fff;
    width: 100%;
    padding: 20px 0;
}

.about-social i{
    font-size: 26px;
    font-weight: 500;
}

.about-social i:hover{
    color: #0877e0;
    font-weight: 500;
}

.about-social .fa-instagram{
    margin: 25px 0;
}

/* /About us */