.c-blue{
    color: #1a2e73;
}

.c-orange{
    color:#f7881f 
}

/* Navbar */

nav {
    width: 100%;
    box-shadow: none !important;
    background-color: #1a2e73;
}

.navbar-toggler {
    height: 50px;
    width: 50px;
}

.navbar-toggler span{
    height: 24px;
    width: 25px;
}

nav img{
    height: 100px;
}

nav h3{
    margin-left: 20px;
}

.m-top{
    margin-top: 20px;
}

.nav-link-text {
    font-size: 17px;
    color: #fff ;
    font-weight: 700;
    text-align: center;
    padding: 0 2rem;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

.nav-link-text:hover {
    text-decoration: none;
    color: #f7881f;
}

/* Navbar Mediaquery */

/* @media screen and (max-width: 575px) {

}
 */
@media screen and (max-width: 575px) {
    nav div:first-of-type {
        width: 100%;
    }

    .nav-link-text {
        padding: 0;
    }

/*     header{
        padding: 0 15px;
    }
 */}

@media screen and (min-width: 900px) and (max-width: 1188px) {
    .nav-link-text {
        padding: 0 1rem;
    }
}
@media screen and (min-width: 800px) and (max-width: 899px) {
    .nav-link-text {
        padding: 0 0.5rem;
    }
}

@media screen and (min-width: 721px) and (max-width: 799px) {
    .nav-link-text {
        padding: 0 0.3rem;
    }
}

/* /Navbar Mediaquery */

/* /Navbar */


/* Jumbotron */

/* .jumbotron-mod{
    margin-top: 25px;
}

.logo-jumbotron{
    padding-top: 5vh;
}

.logo-jumbotron p{
    font-size: 14px;
    margin-top: 5vh;
    font-weight: 500;
}

.studio{
    height: 500px;
    padding: 0 !important;
}

.studio > div{
    background-image: url('../img/sfondo.jpg');
    height: 100%;
    background-size: cover;
}
 */

.jumbotron-mod{
    background-image: url('../img/sfondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 30px !important;
    height: 500px;
    padding: 0 0 25px 25px;
}

.jumbotron-mod div:first-of-type  span{
    text-transform: uppercase;
    background-color: #1a2e73;
    color: #fff;
    font-weight: bold;
    font-size: 55px;
    padding: 0 10px;
}

.jumbotron-mod div div:last-of-type  span{
    text-transform: uppercase;
    background-color: #fff;
    color: #f7881f;
    font-weight: bold;
    font-size: 55px;
    padding: 0 10px;
}

/* /Jumbotron */


/* About us */

.about-us{
    margin-top: 70px;
    color: #fff;
    background-color: #1a2e73;
/*     padding: 15px 0;*/
}

/* .about-us > .container{
    background-color: #1a2e73;
}
 */
.info{
    padding: 20px 0;
}

.info p{
    font-size: 18px;
    font-weight: 400;
}

.about-social{
    background-color: #fff;
    color: #f7881f;
    width: 100%;
    padding: 20px 0;
}

.about-social i{
    font-size: 26px;
    font-weight: 500;
}

.about-social i:hover{
    color: #1a2e73;
    font-weight: 500;
}

.about-social .fa-instagram{
    margin: 25px 0;
}

/* /About us */

/* Banner */

.banner{
    margin-top: 100px;
}

.banner img{
    width: 100%;
}

/* /Banner */


/* Info Box */

.info-box{
    margin-top: 70px;
    margin-bottom: 70px;
}

.info-box .col-2{
    height: 250px;
    padding: 0px 5px;
}

.box-card{
    background-color: #f7881f;
    height: 100%;
}

/* /Info Box */


/* Footer */

footer{
    margin-top: 70px;
    background-color: #1a2e73;
    color: #fff;
    font-weight:500;
}

footer a{
    color: #fff;
}

footer h4{
    color: #fff;
    font-weight: bold;
}

footer h2{
    color: #fff;
    font-weight: bold;
}

footer li{
    font-size: 18px;
}

footer .fa-instagram{
    margin: 0 10px;
}

footer a:hover{
    text-decoration: none;
    color: #f7881f;
}

.footer-copyright{
    background-color: #15255c;
}
/* /Footer */